name: Tests

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  integration-tests:
    name: Tests (${{ matrix.os }} / ${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86-64
            runner: ubuntu-24.04
            os: linux
          - arch: arm64
            runner: ubuntu-24.04-arm
            os: linux

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.3.1

      - name: Prepare environment
        if: matrix.os == 'linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y bubblewrap libseccomp-dev gcc socat ripgrep apparmor-profiles zsh qemu-user-static binfmt-support
          sudo chmod u+s $(which bwrap)
          bwrap --ro-bind / / --unshare-net true && echo "bwrap namespace creation works" || echo "bwrap namespace creation still fails"

      - name: Install Node dependencies and build
        run: bun install --frozen-lockfile && bun run build && bun run postbuild

      - name: Lint code
        run: bun run lint

      - name: Run tests
        run: bun run test
